@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 243 250 248;
  --primary-100: 214 241 233;
  --primary-200: 174 225 212;
  --primary-300: 125 203 186;
  --primary-400: 82 175 157;
  --primary-500: 62 163 145;
  --primary-600: 43 118 106;
  --primary-700: 38 95 87;
  --primary-800: 34 77 71;
  --primary-900: 32 65 61;
  --primary-950: 13 38 35;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  /* select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;

  } */

  .rounded-custom {
    border-radius: 24px 0px 24px 44px;
  }

  .hide-scrollbar {
    -webkit-overflow-scrolling: touch; /* Mobil cihazlarda daha yumuşak scroll */
    scroll-behavior: smooth; /* Daha yumuşak kaydırma */
    overscroll-behavior-x: contain; /* Tarayıcı seviyesinde overscroll'u engelle */

    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
  }
}
