@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: 254 242 242;
  --primary-100: 254 226 226;
  --primary-200: 255 201 201;
  --primary-300: 253 164 164;
  --primary-400: 250 111 111;
  --primary-500: 241 66 66;
  --primary-600: 222 33 33;
  --primary-700: 187 26 26;
  --primary-800: 155 25 25;
  --primary-900: 128 28 28;
  --primary-950: 70 9 9;
}

@layer base {
  body {
    @apply font-custom text-gray-800;
  }

  .rounded-custom {
    border-radius: 8px 0px 8px 8px;
  }

  .hide-scrollbar {
    -webkit-overflow-scrolling: touch; /* Mobil cihazlarda daha yumuşak scroll */
    scroll-behavior: smooth; /* Daha yumuşak kaydırma */
    overscroll-behavior-x: contain; /* Tarayıcı seviyesinde overscroll'u engelle */

    /*FireFox*/
    scrollbar-width: none;
    /*IE10+*/
    -ms-overflow-style: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    /*Chrome, Safari, Edge*/
    display: none;
  }

  .slider-active-btn {
    @apply !scale-[102%] !border-primary-500;
  }

  /* Auto eleman durumu */
  .grid-container[data-items='auto-detected'] {
    @apply relative animate-pulse grid-cols-1 grid-rows-1 overflow-hidden bg-gray-200;
  }

  /* 5 eleman durumu */
  .grid-container[data-items='5'] {
    @apply relative grid-cols-8 grid-rows-2 overflow-hidden rounded-l-2xl;
  }
  .grid-container[data-items='5'] > *:nth-child(1) {
    @apply col-span-4 row-span-2;
  }
  .grid-container[data-items='5'] > *:nth-child(2) {
    @apply col-span-2 col-start-5;
  }
  .grid-container[data-items='5'] > *:nth-child(3) {
    @apply relative col-span-2 col-start-7 overflow-hidden rounded-tr-2xl;
  }
  .grid-container[data-items='5'] > *:nth-child(4) {
    @apply col-span-2 col-start-5 row-start-2;
  }
  .grid-container[data-items='5'] > *:nth-child(5) {
    @apply relative col-span-2 col-start-7 row-start-2 overflow-hidden rounded-br-2xl;
  }

  /* 4 eleman durumu */
  .grid-container[data-items='4'] {
    @apply grid-cols-8 grid-rows-4;
  }
  .grid-container[data-items='4'] > *:nth-child(1) {
    @apply relative col-span-4 row-span-4 overflow-hidden rounded-l-2xl;
  }
  .grid-container[data-items='4'] > *:nth-child(2) {
    @apply col-span-2 col-start-5 row-span-2;
  }
  .grid-container[data-items='4'] > *:nth-child(3) {
    @apply relative col-span-2 col-start-7 row-span-2 overflow-hidden rounded-tr-2xl;
  }
  .grid-container[data-items='4'] > *:nth-child(4) {
    @apply relative col-span-4 col-start-5 row-span-2 row-start-3 overflow-hidden rounded-br-2xl;
  }

  /* 3 eleman durumu */
  .grid-container[data-items='3'] {
    @apply grid-cols-8 grid-rows-2;
  }
  .grid-container[data-items='3'] > *:nth-child(1) {
    @apply relative col-span-4 row-span-2 overflow-hidden rounded-l-2xl;
  }
  .grid-container[data-items='3'] > *:nth-child(2) {
    @apply relative col-span-4 col-start-5 overflow-hidden rounded-tr-2xl;
  }
  .grid-container[data-items='3'] > *:nth-child(3) {
    @apply relative col-span-4 col-start-5 row-start-2 overflow-hidden rounded-br-2xl;
  }

  /* 2 eleman durumu */
  .grid-container[data-items='2'] {
    @apply grid-cols-2 grid-rows-2;
  }
  .grid-container[data-items='2'] > *:nth-child(1) {
    @apply relative row-span-2 overflow-hidden rounded-l-2xl;
  }
  .grid-container[data-items='2'] > *:nth-child(2) {
    @apply relative row-span-2 overflow-hidden rounded-r-2xl;
  }

  /* 1 eleman durumu */
  .grid-container[data-items='1'] {
    @apply relative grid-cols-1 grid-rows-1 overflow-hidden rounded-2xl;
  }

  /* 5 eleman durumunda 6 ve sonrasını gizle */
  .grid-container[data-items='5'] > *:nth-child(n + 6) {
    @apply lg:hidden;
  }

  /* 4 eleman durumunda 5 ve sonrasını gizle */
  .grid-container[data-items='4'] > *:nth-child(n + 5) {
    @apply lg:hidden;
  }

  /* 3 eleman durumunda 4 ve sonrasını gizle */
  .grid-container[data-items='3'] > *:nth-child(n + 4) {
    @apply lg:hidden;
  }

  /* 2 eleman durumunda 3 ve sonrasını gizle */
  .grid-container[data-items='2'] > *:nth-child(n + 3) {
    @apply lg:hidden;
  }

  /* 1 eleman durumunda 2 ve sonrasını gizle */
  .grid-container[data-items='1'] > *:nth-child(n + 2) {
    @apply lg:hidden;
  }

  .thumbnail {
    @apply h-16 w-28 flex-shrink-0 cursor-pointer rounded-lg object-cover transition duration-300 hover:opacity-75 hover:ring-2 hover:ring-white/50 lg:h-20 lg:w-36;
  }

  .thumbnail-active {
    @apply ring-2 ring-white;
  }

  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--primary-500)) transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(var(--primary-500));
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(var(--primary-500));
    border-radius: 2px;
  }

  .product-slider-btn {
    @apply size-2.5 cursor-pointer rounded-full border border-gray-50 bg-gray-50 transition-all duration-500;
  }
  .product-slider-active-btn {
    @apply scale-[128%] border border-gray-950 border-primary-50 bg-gray-950;
  }

  .day-header {
    @apply mb-1 text-center text-sm font-semibold text-primary-500;
  }

  .day {
    @apply flex cursor-pointer items-center justify-center rounded-md border border-transparent p-1 text-center transition-all duration-500 md:hover:border-primary-500 md:hover:bg-primary-50;
  }

  .date-input {
    @apply w-full rounded-md border border-gray-300 p-2 text-sm;
  }

  .day-disabled {
    @apply cursor-not-allowed !border-gray-100 !bg-gray-100 opacity-50 hover:!border-gray-100 hover:!bg-gray-100 hover:!opacity-50;
  }

  .day-selected {
    @apply !bg-primary-500 text-center text-white;
  }

  .day-linked {
    @apply bg-primary-400 text-center text-white;
  }

  .day-empty {
    @apply bg-gray-100 opacity-100 hover:!bg-primary-50 hover:!opacity-75;
  }

  .current-input-date {
  }

  .linked-date-highlight {
    @apply cursor-move !bg-primary-500 !opacity-100 hover:!bg-primary-500 hover:!opacity-75;
  }

  .month-container {
  }

  .month-current {
    @apply text-lg font-semibold text-gray-600;
  }

  .prev-pointer {
    @apply cursor-pointer text-gray-600 hover:text-gray-800;
  }

  .next-pointer {
    @apply cursor-pointer text-gray-600 hover:text-gray-800;
  }

  .prev-disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .next-disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .calendar-grid {
    @apply grid grid-cols-7 gap-1.5;
  }

  .wrapper-hidden {
    @apply invisible opacity-0;
  }

  .date-hidden {
    @apply invisible opacity-0;
  }
}
